.provider-item__img{
    padding-top: 100%;
    border-radius: 3px;
    
    background-size: contain;
    background-repeat: no-repeat;    
    
}
 
.provider-item {
    margin-top: 10px;
    background-color: rgb(221, 241, 216);
    border-radius: 3px;
    border: rgba(0,0,0,0.1) 1px solid;
    position: relative;
    cursor: pointer;
   
}
.provider-DanhMuc-pop__item{
    cursor: pointer;
}

.provider-cotrol-bar__name{
    font-size: 1.4rem;
}
.provider-item:hover .provider-item__decription{
    display: flex;
    transition: linear 0.3s;
}

.provider-item:hover{
    -webkit-box-shadow: 0 0 5px  rgba(41, 165, 108,0.6) ;
    box-shadow: 0 0 5px rgba(41, 165, 108,0.6);
    transition: 0.3s;
      
    
    
}

.provider-item__name{
    font-size: 1.4rem;
    
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px;
    height: 1.8rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.provider-item__decription{
    width: 100%;
    height: 83%;
    background-color: white;
    z-index: 3;
    top: 0;
    position: absolute; 
    margin: auto;
    border-radius: 3px;
    display: none; 
    align-items: center;
    text-align: center;
    justify-content: space-around;
    font-size: 1.6rem;
    background-color: rgba(41, 165, 108, 0.8);
    color: rgb(250, 244, 244);
    font-weight: 500;
    flex-direction: column;
    justify-content: top;


}
.provider-DanhMuc__img{
    border: rgb(172, 230, 184) 1px solid;
    padding-top: 100%;
    border-radius: 10px;   
    background-size: cover;
    background-repeat: no-repeat;  
    
}
.provider-DanhMuc-pop{
    background-color:white;
    padding: 16px;
    border-radius: 10px;
    margin-top: 16px;
}
.provider-item__decriotion-item{
    padding: 8px ;
    text-align: left;
    width: 100%;

    }

.provider-top__header{
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    
   
    background-color: var(--primary-color);
    height: 40px;
    line-height: 40px;
    color: white ;
    text-align: center;
    
    
}
.provider-all__header {
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
}
.provider-catagory {
    background-color: white;
    border-radius: 10px;
    padding: 0 8px 0 8px;
    
}

.provider-catagory-search-filter{
    border-top: #999 1px solid;
    padding: 16px 0 16px 0;
    margin : 0
    
    
}
.provider-catagory-filter{
    padding: 16px 0 16px 0;
    margin : 0
}
.provider-catagory-filter__heading ,.provider-catagory-price__heading,.provider-catagory-search-filter__heading{
    
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 0 0 16px 16px;
    margin: 0;
    
}
.provider-catagory-search-filter__heading-2{
    font-size: 1.5rem;
    color: var(--text-color);
    margin: 0;
    padding-bottom: 8px;
}
.provider-catagory-price{
    border-top: #999 1px solid;
    
    padding : 16px 0 16px
}
.provider-catagory-filter-list{
    list-style-type: none;
    padding-left: 0px;
   
    margin: 0;
}
.provider-catagory-filter-item{
    padding: 8px 0;
    text-align: center;
}

.provider-catagory-filter-link{
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 600;
    transition: right linear 0.1s;
    right: 0;

}

.provider-catagory-filter-link:hover{
    right: -4px;
    color: var(--primary-color);
}

.provider-filter{
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0.03);
    padding: 12px 22px;
    font-weight: 400;

}

.provider-filte__label{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 16px;

}

.provider-filte__label-btn{
    margin-right: 16px;
    min-width: 90px;
    
}

.provider-filter__select{
    min-width: 140px;
    height: 34px;
    padding: 0 12px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    align-items: center;
}

.provider-control-bar{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,0.1);
 
    align-items: center;
    padding-left: 16px;

}

.provider-product-cotrol-bar__name{
    font-size: 1.4rem;
}
.btn-shop{
    margin: 8px;
    min-width: 90px;
    height: 30px;
    background-color: white;
    font-size: 1.4rem;
    border: none;
    cursor: pointer;
}
.provider-control-bar_price-up ,.provider-control-bar_price-down{
    margin: 2px;
    min-width: 45px
    
    
}

.provider-control-bar_price{
    margin-right: 2px;
    cursor: default;
    
}

.provider-catagory-search-filter-form-container{
    padding: 8px 0;
}
.provider-catagory-search-filter__label{
    font-size: 1.4rem;
    padding: 3px 0;
}